<section class="compomentbox">
        
    <div class="container">
            <h1 class="news-text">News &amp; Highlights</h1>
            <div class="allinboxes">
                    <div class='box'>
                            <div class='box__img'>
                                <a href="https://placeholder.com"><img src="http://via.placeholder.com/350x206"></a>
                            </div>
                            <h2 class='box-header'>Lorem ipsum dolor sit amet,elit</h2>
                            <p class='box-text'> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <div class="sign">
                                    <span class="author">Autor:DeadEnd Development</span>
                                    <span class="date">Date: 18 May 2017</span>
                            </div>
                    </div>

                    <div class='box'>
                            <div class='box__img'>
                                <a href="https://placeholder.com"><img src="http://via.placeholder.com/350x206"></a>
                            </div>
                            <h2 class='box-header'>Lorem ipsum dolor sit amet,elit</h2>
                            <p class='box-text'> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <div class="sign">
                                <span class="author">Autor:DeadEnd Development</span>
                                <span class="date">Date: 18 May 2017</span>
                            </div>
                        
                    </div>

                    <div class='box'>
                            <div class='box__img'>
                                <a href="https://placeholder.com"><img src="http://via.placeholder.com/350x206"></a>
                            </div>
                            <h2 class='box-header'>Lorem ipsum dolor sit amet,elit</h2>
                            <p class='box-text'> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <div class="sign">
                                <span class="author">Autor:DeadEnd Development</span>
                                <span class="date">Date: 18 May 2017</span>
                            </div>
                        
                    </div>                  
            </div>
        </div>
</section>
        