<section class="department">
    <div class="department__box department__box--1">
        <div class="department__box-icon">
        </div>
        <div class="department__box-top"><h3>Typing & data entry</h3></div>
        <div class="department__box-bottom"></div>
    </div>
    <div class="department__box department__box--2">
            <div class="department__box-icon">
    
            </div>
            <div class="department__box-top"><h3>In-house DeadEnd Development</h3></div>
            <div class="department__box-bottom"></div>
        </div>
        <div class="department__box department__box--3">
                <div class="department__box-icon">
        
                </div>
                <div class="department__box-top"><h3>Contact centre</h3></div>
                <div class="department__box-bottom"></div>
            </div>
            <div class="department__box department__box--4">
                    <div class="department__box-icon">
            
                    </div>
                    <div class="department__box-top"><h3>MicrosOFF</h3></div>
                    <div class="department__box-bottom"></div>
                </div>
</section>