<div class="hero">
    <div class="hero__container">
                  <h1>
                    DeadEnd Development
                </h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
                <div class="hero__form-container">
                    <form action="#" class="hero__form">
                        <input type="text" placeholder="Enter your email" class="hero__text-input">
                        <input type="submit" class="hero__submit" value="Request a demo">
                    </form>
                </div>
    </div>
</div>
