<section class="information">

    <div class="wrapper">

            <div class="boxes_information">
                   <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                    <div class='box'>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat.
                    </div>

                    <div class='box'>
                        78 Organisation
                    </div>

                    <div class='box'>
                        2,765 Testers
                    </div>

                    <div class='box'>
                        12 Countries
                    </div>
                  
            </div>

    </div>

</section>