<section class="team">
    <div class="container">
        <div class="team__member">
            <img src="../img/team-member-1.jpg" alt="" class="team__member-img">
            <div class="team__member-description">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, nihil quos? Debitis, voluptates quia? Eum non quasi repudiandae
                    unde dicta. Ullam eum, minus quia magnam saepe praesentium corrupti tempora facere?
                </p>
                <p class="team__member__caption">
                    <span>Eliza Kulesza</span> Dead Development Specialist
                </p>
            </div>
            <div class="team__bullets">
                <span></span>
                <span></span>
            </div>

        </div>
    </div>
</section>