body{
    font-family: "Poppins", sans-serif;
}

.heading-secondary{
    font-size: $font-size-h2;
    color: $blue--dark;
}

.paragraph{
    font-size: $font-size-body;
    color: $gray-2;
    &--purple{
        color: $purple;
    }
}

.bold{
    font-weight: 700;
}